@media screen and (max-device-width : 480px) {         
    #sidebar{             
    display:none;             
    }                 

    #menu{                
        text-align:center;                
        } 
}

html, body {
    max-width: 480px;
    max-height: 960px;
    height: 100%;
    font-family: AmbleFontWeb, "Trebuchet MS", Myriad;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}
h4{
    font-size: 16px;
    font-weight: bold;
    font-style: oblique;
    color: #666666;
    margin: 0px;
}
input {
    font-size: 12px;
    height: 19px;
    background-color: #FFFFCC;
    border: 1px solid #CCC;
}
input[readonly]{
    background-color: #CCCCCC;
}
input.small {
    width: 20%
}
input.medium {
    width: 40%
}
#contenedor{
    max-width: 480px;
    max-height: 960px;
    position: absolute;
    margin: 0px;
    width: 100%;
    height: 100%;
}

#logo {
    position: absolute;
    width: 100%;
    left: 50%;
    margin-left: -151px;
    margin-top: -10px;
    margin-bottom: 100px;
    display: block;
}
.logo {
  margin: 0 auto;
  display: block;
}
#contenido {
    margin-top: 100px;
    width: 100%;
    height: auto;
    display: block;
}

#contenido p {
    font-size: 13px;
    color: #B2BB1C;
    text-align: center;
}
#contenido p.titulo {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
#contenido div.control-group{
    width: 100%;
    margin-top: 10px;
    border: 0px solid #F04;
}
#contenido div.control-group2{
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 26px;
    border: 0px solid #F04;
}
#contenido label{
    float: left;
    font-size: 12px;
    text-align: right;
    width: 54%;
    border: 0px solid #F40;
}
#contenido div div.control{
    margin-left: 55%;
}
#contenido div div.help{
    position: absolute;
    font-size: 13px;
}
#botones {
    margin-top: 50px;
    max-width: 480px;
    width: 100%;
    background: url(../img/bg-boton.png) repeat;
    text-align: center;
    padding: 7px 0px; 
}
.boton {
    color: #FFFFFF;
}
div.separador {
    margin: 7px;
    width: 90%;
    border: 1px #999 solid;
}